<!DOCTYPE html>
<html lang="en">
	{{template "headAndNavbar.html" .}}
	<div class="section">
		<div class="container-fluid">
			<div class="row filterrow">
				<div class="input-group">
					<div class="input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-filter"></span> filter <span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li><a onclick="openDialog('Author')" href="javascript:void(0);">Author</a></li>
							<li><a onclick="openDialog('Repository')" href="javascript:void(0);">Repository</a></li>
							<li><a onclick="openDialog('Date')" href="javascript:void(0);">Date</a></li>
						</ul>
					</div>
					<input type="text" id="tagBar" data-role="tagsinput"/>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container-fluid">
			<div class="row">
				<div data-spy="scroll" data-target="#details" data-offset="12" class="test2">
					<div class="col-md-6 col-xs-6 list">
						{{range .Buttondata}}<button class="btn btn-lg btn-block btn-default" onclick="getCommit('{{.Id}}')">
							<div class="comCommentText">
								<label>  {{.Name}}</label>
							</div>
							<div class="row comDateText">
								<div class="col-xs-6 noColStyle pull-left">
								<text>  {{.DateString}}</text>
								</div>
								<div class="col-xs-6 noColStyle pull-right hidden-xs">
								<text>  {{.Repository}}</text>
								</div>
							</div>
						</button>{{end}}          
					</div>
				</div>
				<div class="col-md-6 col-xs-6 detail">
					<h1>Commit Details</h1>
					<div class="form-group">
						<label>Message</label>
						<p id="message"></p>
					</div>
					<div class="form-group">
						<label>Author</label>
						<p id="author"></p>
					</div>
					<div class="form-group">
						<label>Sha</label>
						<p id="sha"></p>
					</div>
					<div class="form-group">
						<label>Repository</label>
						<p id="repository"></p>
					</div>
					<div class="form-group">
						<label>Commit Date</label>
						<p id="date"></p>
					</div>
					<div class="form-group">
						<label>GitHub Link</label>
						<p></p>
						<a id="link" target="_blank" href="/" ></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<dialog id="dialogAuthor">
		<form action="javascript:sendTag('Author')">
			<label for="authorTag">Please enter Author name</label>
			<input id=authorTag type=text list=authors >
			<datalist id=authors >
			   {{range .Authors}}<option value="{{.}}">{{.}}{{end}}
			</datalist>			
		</form>  
		<button onclick="sendTag('Author')">Add Tag</button>
		<button onclick="closeDialog('Author')">Cancel</button>
	</dialog>
	<dialog id="dialogRepo">
		<form action="javascript:sendTag('Repository')">
			<label for="repoTag">Please enter Repository name: </label>
			<input id=repoTag type=text list=repos >
			<datalist id=repos >
			   {{range .Repos}}<option value="{{.}}">{{.}}{{end}}
			</datalist>	
		</form>  
		<button onclick="sendTag('Repository')">Add Tag</button>
		<button onclick="closeDialog('Repository')">Cancel</button>
	</dialog>
	<dialog id="dialogDate">
			<label for="dateTag">Please select a Date: </label>
			<input type="date" class="datepicker" id="dateTag">
			<button onclick="sendTag('Date')">Add Tag</button>
		<button onclick="closeDialog('Date')">Cancel</button>
	</dialog>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/chm.js"></script>
	<script src="/static/js/tagBar.js"></script>
	<script src="/static/js/bootstrap-datepicker.js"></script>
	<script src="/static/js/bootstrap-tagsinput.min.js"></script>
	<script>
		$('.datepicker').datepicker({ format: "yyyy-mm-dd" });
	</script>
</body>
</html>
