<!DOCTYPE html>
<html lang="en">
	{{template "headAndNavbar.html" .}}
	<div class="section">
		<div class="container-fluid">
			<div class="row filterrow">
				<div class="input-group">
					<div class="input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-filter"></span> filter <span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li><a href="" type="button" data-toggle="modal" data-target="#dialogAuthor">Author</a></li>
							<li><a href="" type="button" data-toggle="modal" data-target="#dialogRepo">Repository</a></li>
							<li><a href="" type="button" data-toggle="modal" data-target="#dialogDate">Date</a></li>
						</ul>
					</div>
					<input type="text" id="tagBar" value="loading..." data-role="tagsinput"/>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container-fluid">
			<div class="row">
				<div data-spy="scroll" data-target="#details" data-offset="12" class="test2">
					<div id="buttonList" class="col-md-6 col-xs-6 list">
						{{range .Buttondata}}<button class="btn btn-lg btn-block btn-default" onclick="getCommit('{{.ID}}')">
							<div class="comCommentText">
								<label>  {{.Name}}</label>
							</div>
							<div class="row comDateText">
								<div class="col-xs-6 noColStyle pull-left">
								<text>  {{.DateString}}</text>
								</div>
								<div class="col-xs-6 noColStyle pull-right noColRight hidden-xs">
								<text>  {{.Repository}}</text>
								</div>
							</div>
						</button>{{end}}
					</div>
				</div>
				<div class="col-md-6 col-xs-6 detail">
					<h1>Commit Details</h1>
					<div class="form-group">
						<label>Message</label>
						<p id="message"></p>
					</div>
					<div class="form-group">
						<label>Author</label>
						<p id="author"></p>
					</div>
					<div class="form-group">
						<label>Sha</label>
						<p id="sha"></p>
					</div>
					<div class="form-group">
						<label>Repository</label>
						<p id="repository"></p>
					</div>
					<div class="form-group">
						<label>Commit Date</label>
						<p id="date"></p>
					</div>
					<div class="form-group">
						<label>GitHub Link</label>
						<p></p>
						<a id="link" target="_blank" href="/" ></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="dialogAuthor" class="modal fade" role="dialog">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-body">
					<p>
						<label for="authorTag">Please enter Author name</label>
					</p>
					<p>
						<select class="combobox input form-control" id=authorTag type=text>
							<option></option>
							{{range .Authors}}
								<option value="{{.}}">{{.}}</option>
							{{end}}
						</select>
					</p>
					<p>
						<button onclick="sendTag('Author')" type="button" class="btn btn-default" data-dismiss="modal">Add Tag</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div id="dialogRepo" class="modal fade" role="dialog">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-body">
					<p>
						<label for="repoTag">Please enter Repository name</label>
					</p>
					<p>
						<select class="combobox input form-control" id=repoTag type=text>
							<option></option>
							{{range .Repos}}
								<option value="{{.}}">{{.}}</option>
							{{end}}
						</select>
					</p>
					<p>
						<button onclick="sendTag('Repository')" type="button" class="btn btn-default" data-dismiss="modal">Add Tag</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div id="dialogDate" class="modal fade" role="dialog">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-body">
					<p>
						<label for="dateTag">Please select a Date</label>
					</p>
					<p>
						<input type="date" class="input form-control" id="dateTag">
					</p>
					<p>
						<button onclick="sendTag('Date')" type="button" class="btn btn-default" data-dismiss="modal">Add Tag</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					</p>
				</div>
			</div>
		</div>
	</div>
	{{template "scripts.html" .}}
</body>
</html>
