body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.btn {
  text-align: left;
}

.list {
    overflow: auto;
    position: absolute;
    bottom: 0;
    top: 190px;
}
.detail {
    position: fixed;
    right: 0;
    overflow: auto;
    bottom: 0;
    top: 190px;
}